* {
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
    font-family: 'Krub', sans-serif;
    font-size: 20px;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

img {
    width: 25%;
}

button {
    font-family: 'Krub', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.not-eaten {
    text-align: left;
    display: inline-block;
    margin: 10px;
}

.eaten {
    display: inline-block;
    background-color: lightsalmon;
    margin: 10px;
}

li {
    padding: 5px;
    margin: 5px;
}

.form-group {
    margin-bottom: 15px;
}

